plot_py/__pycache__/plot_reset.cpython-310.pyc
__pycache__/chem_funs.cpython-39.pyc
__pycache__/vulcan_cfg.cpython-39.pyc
__pycache__/vulcan_cfg.cpython-310.pyc
plot_py/__pycache__/plot_reset.cpython-39.pyc
